{% extends "base.html" %}

{% block content %}
<!-- Main Content -->
<div class="max-w-4xl mx-auto px-8 py-16">
	<h1 class="text-4xl font-bold mb-8 text-center">Analisis Sentimen terkait Timnas Indonesia</h1>
	<div class="flex flex-col md:flex-row gap-8">
		<div class="flex-1">
			<p class="text-xl font-bold mb-4">Masukkan Teks:</p>
			<form method="POST" action="/sentimen">
				<textarea class="border border-gray-300 rounded-lg w-full h-64 p-4" placeholder="Ketikkan teks di sini..." name="sentence"></textarea>
				<button class="bg-blue-500 text-white py-2 px-6 rounded-lg font-semibold hover:bg-blue-600 mt-4" type="submit" formmethod="post">Analisis</button>
			</form>
		</div>
	<div class="flex-1">
		<p class="text-xl font-bold mb-4">Hasil Analisis:</p>
		<div class="bg-white relative border border-gray-300 rounded-lg w-full h-64 p-4 overflow-y-auto">
			<p class="text-gray-500 text-center">Tidak ada hasil yang ditampilkan.</p>
			{% if sentence %}
			<div class="absolute top-4 bg-white w-11/12 max-h-fit">
				<table>
					<tr class="align-top">
						<td>Kalimat</td>
						<td>:</td>
						<td>{{ sentence }}</td>
					</tr>
					<tr>
						<td>Sentimen</td>
						<td>:</td>
						{% if predict == 'Positif' %}
						<td class="text-green-400 font-bold">{{ predict }}</td>
						{% endif %}
						{% if predict == 'Negatif' %}
						<td class="text-red-400 font-bold">{{ predict }}</td>
						{% endif %}
					</tr>
					<tr>
						<td>Probability</td>
						<td>:</td>
						<td>{{ probability }}</td>
					</tr>
				</table>
			</div>
			{% endif %}
		</div>
	</div>
	</div>
</div>
{% endblock %}
